body {
    width: 81%;
    margin: 0 auto;
}

h1 {
    color: olive
}

.purple{
    color: #550baa;
}

.border {
    border: 3px solid rgb(154, 230, 41);
}

#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: #dee2e6;
    border: 2px solid #d4d8db;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
}

.tocnumber {
    color: rgb(10, 9, 9);
}